<div class="modalbox">
    <form [formGroup]="AddExerciseTemplateForm" class="addETForm" (ngSubmit)="SaveExerciseTemplate()">
        <div *ngIf="loading" class="preLoader" fxLayout="row" fxLayoutAlign="center center"><mat-progress-spinner  diameter="40" mode="indeterminate" strokeWidth="7"></mat-progress-spinner></div>        
        <div *ngIf="!loading">
        <mat-form-field class="name">
            <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>

        <mat-form-field class="comments">
            <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
        </mat-form-field>

        <mat-form-field  class="tempo">
            <input matInput formControlName="tempo" placeholder="Tempo"/>
        </mat-form-field>

        <mat-form-field class="primaryMuscle">
            <mat-select formControlName="primaryMuscleId">
                <mat-option [value]="0">-- Primary Muscle --</mat-option>
                <mat-option *ngFor="let muscle of musclesDTOs" [value]="muscle.id">{{muscle.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="secondaryMuscle">
            <mat-select formControlName="secondaryMuscleId">
                <mat-option [value]="0">-- Secondary Muscle --</mat-option>
                <mat-option *ngFor="let muscle of musclesDTOs" [value]="muscle.id">{{muscle.name}}</mat-option>
            </mat-select>
        </mat-form-field>        
        </div>
        <div>
            <button mat-button matTooltip="Close" [matTooltipShowDelay]="1000" [mat-dialog-close]="false">
                <i class="far fa-window-close"></i>Close
            </button>
            <button mat-button matTooltip="Save Exercise Template" [matTooltipShowDelay]="1000" [disabled]="!AddExerciseTemplateForm.valid || !AddExerciseTemplateForm.dirty" type="submit" class="saveBtn" matTooltip="Save" [matTooltipShowDelay]="1000">
                Save<i class="far fa-save"></i>
            </button>
        </div>    
    </form>
</div>