.is-loading{
    mat-progress-spinner{
        margin: auto;
    }
}

.example-form {
    min-width: 150px;
    width: 100%;
    background-color: rgba(240,240,240,0.9);
    border-bottom: 2px solid rebeccapurple;
}
  
.example-full-width {
    width: 100%;
    min-width: 150px;
    margin-left: 20px;
    margin-right: 5px;
}

.noResults{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    color: rgb(255,170,50);
    padding: 5px;
    min-width: fit-content;
}

button{
    font-size: 18px;
    margin-right: 10px;
}