<form [formGroup]="searchUsersForm" class="searchform mat-elevation-z15">

    <div class="searchHeader" fxLayout="row | wrap" fxLayoutAlign="center center">      
            
        <mat-form-field class="pageSize">

            <mat-label>Page Size</mat-label>

            <mat-select required formControlName="pageSize">

                <mat-option value='2'>2</mat-option>
                            
                <mat-option value='10'>10</mat-option>
                <mat-option value='15'>15</mat-option>
                <mat-option value='20'>20</mat-option>

            </mat-select>
                    
        </mat-form-field>


        <button mat-fab (click)="Previous()" [disabled]="previousDisabled">
            <i class="fas fa-caret-square-left"></i>
        </button>

        <mat-form-field class="pageNumber" >

            <input class="pageNumberInput" matInput formControlName="page" />

        </mat-form-field>

        <button mat-fab (click)="Next()" [disabled]="nextDisabled">
            <i class="fas fa-caret-square-right"></i>
        </button>

        <div class="searcContainer">

            <mat-form-field class="search">
                <input matInput placeholder="Search"  type="text" formControlName="filter" (keyup.enter)="Search()"/>
            </mat-form-field>
            
            <button mat-fab (click)="Search()" [disabled]="!searchUsersForm.valid">
                <i class="fas fa-search"></i>
            </button>

        </div>
            
    </div>

    <!-- <div fxLayout="row" class="searchHeader" fxLayoutAlign="center center">               -->

        <!-- <mat-form-field class="search">
            <input matInput placeholder="Search"  type="text" formControlName="filter" (keyup.enter)="Search()"/>
        </mat-form-field>

        <button mat-fab (click)="Search()" [disabled]="!searchUsersForm.valid">
            <i class="fas fa-search"></i>
        </button> -->

    <!-- </div> -->

</form>


<div class="myTable">

    <div class="mtRows" fxLayout="row | wrap" fxLayoutAlign="center center" *ngFor="let userDTO of userDTOs; let i = index;">

        <div class="userInfo"> 
            
            <div class="userData">{{userDTO.userName}}</div>
            <div class="userData">{{userDTO.userEmail}}</div>
            <div class="userData">{{userDTO.firstName}} {{userDTO.lastName}}</div>

        </div>

        <div class="userCoach">

            <mat-form-field class="userCoachField">

                <mat-select [value]="userDTO.coachId" (selectionChange)="onCoachSelectionChange($event, i)" [(value)]="selectedCoachId" [disabled]="userDTO.coachId!=0">
                       
                    <mat-option [value]="0">-- Assign Coach --</mat-option>
                    <mat-option *ngFor="let coach of coachesDTOs" [value]="coach.id">{{coach.firstName}} {{coach.lastName}}</mat-option>
    
                </mat-select>
                        
            </mat-form-field>

            <div>

                <button mat-button (click)="SaveCoach( userDTO.userEmail, selectedCoachId )" title="Assign Coach" [disabled]="!saveCoachDisabled[i]">
                    <i class="far fa-save"></i>
                </button>
                <button class="ubtn" mat-button (click)="UnasignCoach( userDTO.userEmail, userDTO.coachId )" title="Unnasign Coach" [disabled]="userDTO.coachId==0">
                    <i class="fas fa-user-alt-slash"></i>
                </button>

            </div>
                
        </div>
        
        <div  class="userRole">
        
            <mat-form-field class="userData userRole" >
        
                <mat-select [value]="userDTO.userRole" (selectionChange)="onSelectionRoleChange($event, userDTO.userRole,i)" [(value)]="selectedRole">
        
                    <mat-option [value]="1">Client</mat-option>
                    <mat-option [value]="2">Coach</mat-option>
                    <mat-option [value]="3">Manager</mat-option>
                    <mat-option [value]="4">Admin</mat-option>
        
                </mat-select>
        
            </mat-form-field>

            <div>

                <button *ngIf="!notification[i]" mat-button (click)="SaveRole( userDTO.userEmail, selectedRole, i)" title="Save Role" [disabled]="!saveRoleDisabled[i]" >
                    <i class="far fa-save"></i> 
                    <i *ngIf="notification[i]" class="fas fa-check-circle" ></i>           
                </button>

                <button *ngIf="notification[i]" class="elementToFadeInAndOut updated" mat-button title="Saved!" >
                    <i class="fas fa-check-circle" ></i>           
                </button>
                
            </div>           
            
            
        </div>
        
        
    </div>   
    

</div>


