<p>Manage Users</p>

<div class="controls">
    <div fxLayout="row" fxLayoutAlign="space-between center"> 
        <mat-form-field class="searchField">
            <mat-placeholder>
                <mat-icon>subject</mat-icon>
                <b> Search</b>
            </mat-placeholder>
            <input matInput [formControl]="searchInput" (keyup.enter)="applySearch()" class="searchInput">
        </mat-form-field>
        <mat-progress-spinner *ngIf="isLoading" diameter="35" mode="indeterminate" strokeWidth="6"></mat-progress-spinner>    
        <mat-paginator [length]="pagedApplicationUsers?.total" [pageSizeOptions]="[5, 10, 25, 50]" pageSize="5" [showFirstLastButtons]="true"></mat-paginator>            
   </div>
</div>

<div class="filterContainer">
    <div class="filter">
    <mat-accordion class="accordion">
        <mat-expansion-panel [(expanded)]="panelOpenState">

            <mat-expansion-panel-header>
                <mat-panel-title>Search Filters</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="filterForm">
                <mat-form-field>
                  <input matInput type="text" placeholder="Full Name" formControlName="fullName" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Coach Full Name" formControlName="coachFullName" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Email" formControlName="email" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
            </form>

        </mat-expansion-panel>
    </mat-accordion>
    </div>
</div>

<mat-table #table [dataSource]="pagedApplicationUsers?.items" matSort matSortActive="fullName" matSortDirection="asc">
    <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
        <mat-cell *matCellDef="let applicationUser"> {{applicationUser.fullName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let applicationUser"> {{applicationUser.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="coachFullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Coach Full Name </mat-header-cell>
        <mat-cell *matCellDef="let applicationUser"> {{applicationUser.coachFullName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="userRoleId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let applicationUser"> {{applicationUser.roleString}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>            
            <button class="refresh" (click)="refresh()" matTooltip="Refresh Table" [matTooltipShowDelay]="1000">
                <i class="fas fa-sync-alt"></i>
            </button> 
        </mat-header-cell>
        <mat-cell *matCellDef="let applicationUser">
            <button class="edit" (click)="editApplicationUserDialog(applicationUser.id)" matTooltip="Edit User" [matTooltipShowDelay]="1000">
                <i class="far fa-edit"></i>
            </button>             
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>