.container{
    .wodescfield{
        width: calc(100% - 54px);
        background-color: rgba(255,255,255,0.6);        
        color: black;  
        .placeholder{
            padding-left: 20px;
        }
        .wodesctarea{            
            height: 100px;
            width: 96%;
            margin: 0 2%;

        }        
    }
    .exerciseContainer{
        margin-top: 2px;
    }
    .exerciseAccordion{
        width: calc(100% - 60px);
    }
    .buttons{
        position: relative;
        background-color: rgba(220, 220, 220, 0.8);
        width: 60px;
        border-radius: 3px;
        .sortBtn{
            background-color: rgb(220,220,220);
            z-index: 1;
            padding: 0;
            margin: 0;
            width: 60px;
            font-size: 19px;
            border: 1px solid grey;
            border-radius: 3px;
        }
        .deleteExerciseBtn{
            z-index: 0;
            position: absolute;
            top: calc(50% - 15px);
            height: 30px;
            color: rgb(200,0,0);
            width: 50px;
        }
    }
    button{
        height: inherit;
        outline: none;
        border: none;
        color: rebeccapurple;
        cursor: pointer;
        background-color: rgba(255,255,255,0.6);               
        width: 54px;        
        transition: 0.2s ease-in-out;
    }
    button:active{              
        box-shadow: inset 0 0 5px black;        
    }
    button:disabled{
        color: grey;
        box-shadow: none;        
        cursor: default;
    }
    .done{
        color: rebeccapurple;
        text-shadow: 0 0 5px rgb(255,170,50);
        font-weight: 900;
    }

} 