<div class="container">

  <form fxLayout="row" fxLayoutAlign="center stretch">
    <mat-form-field class="wodescfield">
        <mat-placeholder class="placeholder">Workout Comments</mat-placeholder>
        <textarea class="wodesctarea" type="text" matInput autocomplete="off" [formControl]="workoutComments"></textarea>
    </mat-form-field>

    <button title="Save Workout Comments" (click)="AddWorkoutComments()" [disabled]="!workoutComments.dirty">
      <mat-icon *ngIf="!notification">save</mat-icon>
      <mat-icon *ngIf="notification" class="elementToFadeInAndOut done">done</mat-icon>      

    </button>
  </form>


    <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Exercise" aria-label="Exercise" [matAutocomplete]="auto" [formControl]="etdCtrl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading"><mat-progress-spinner diameter="40" mode="indeterminate" strokeWidth="10"></mat-progress-spinner></mat-option>
            <ng-container *ngIf="!isLoading">

                <mat-option *ngFor="let etd of filteredETDTOs" [value]="etd">              
                    <span>{{etd.name}}</span> |
                    <small>Desc: {{etd.comments}}</small>
                </mat-option>

              </ng-container>

          </mat-autocomplete> 

          
        </mat-form-field>
        
        <span *ngIf="noResults" class="noResults">No Results</span>

        <br> -->
      
        <!-- <mat-slide-toggle
          [checked]="etdCtrl.disabled"
          (change)="etdCtrl.disabled ? etdCtrl.enable() : etdCtrl.disable()">
          Disable Input?
        </mat-slide-toggle> -->
      <!-- </form>
      





    {{routineId}}
    {{woNumber}}
    {{workout?.workoutComments}} -->
</div>