<div class="container">
  <div *ngFor="let exerciseDTO of exerciseDTOs; let first = first; let last=last;">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" class="exerciseContainer">
      <app-edit-exercise [exerciseDTO]="exerciseDTO" class="exerciseAccordion"></app-edit-exercise>
      <div class="buttons" fxLayout="column" fxLayoutAlign="space-between center">
        <button class="sortBtn" (click)="swapUp(exerciseDTO)" [disabled]="first" matTooltip="Move Up" [matTooltipShowDelay]="500"><i class="fas fa-sort-up"></i></button>
        <button class="sortBtn deleteExerciseBtn" (click)="deleteExercise(exerciseDTO)" matTooltip="Delete Exercise" [matTooltipShowDelay]="500"><i class="far fa-trash-alt"></i></button>
        <button class="sortBtn" (click)="swapDown(exerciseDTO)" [disabled]="last" matTooltip="Move Down" [matTooltipShowDelay]="500"><i class="fas fa-sort-down"></i></button>
      </div>
    </div>
  </div>

  <app-select-exercise-template [workoutId]="workout?.id" (updateWorkout)="onUpdateWorkout($event)"></app-select-exercise-template>

  <form fxLayout="row" fxLayoutAlign="center stretch">
    <mat-form-field class="wodescfield">
        <mat-placeholder class="placeholder">Workout Comments</mat-placeholder>
        <textarea class="wodesctarea" type="text" matInput autocomplete="off" [formControl]="workoutComments"></textarea>
    </mat-form-field>
    <button title="Save Workout Comments" (click)="AddWorkoutComments()" [disabled]="!workoutComments.dirty">
      <mat-icon *ngIf="!notification">save</mat-icon>
      <mat-icon *ngIf="notification" class="elementToFadeInAndOut done">done</mat-icon>
    </button>
  </form>

</div>