<!-- <p>cabinet works!</p>
     fxLayoutAlign="center start"
<button (click)="kek()" >asdasddd</button> -->
<div [ngClass] ="{'fade': fadeIt, 'container': true}" >

    <mat-tab-group mat-stretch-tabs>

        <mat-tab label="My Workouts" *ngIf="IsClient()">
            <ng-template matTabContent>
                Ma workouts                
            </ng-template>
        </mat-tab>

        <mat-tab label="Workouts" *ngIf="IsCoach()">
            <ng-template matTabContent>
                <app-workout-tab></app-workout-tab>
            </ng-template>
        </mat-tab>

        <mat-tab label="Exercises" *ngIf="IsCoach()">
            <ng-template matTabContent>
                <app-exercises-tab></app-exercises-tab>
            </ng-template>
        </mat-tab>

        <mat-tab label="Progress Log" *ngIf="IsClient()">
            <ng-template matTabContent>
                track your shit here
            </ng-template>
        </mat-tab>


        <mat-tab label="Useful Links">
            <ng-template matTabContent>
                <app-useful-links></app-useful-links>
            </ng-template>
        </mat-tab>

        <mat-tab label="Manage Clients" *ngIf="IsCoach()">
            <ng-template matTabContent>
                <app-manage-clients></app-manage-clients>
            </ng-template>
        </mat-tab>        

        <mat-tab label="Personal Info">
            <ng-template matTabContent>
                <app-personal-info></app-personal-info>
            </ng-template>
        </mat-tab>


        <mat-tab label="Manage Users" *ngIf="IsAdmin()">
            <ng-template matTabContent>
                <app-manage-users></app-manage-users>
            </ng-template>
        </mat-tab>

    </mat-tab-group>


</div>