<p>Create Exercise Templates</p>

<div class="controls">
    <div fxLayout="row" fxLayoutAlign="space-between center"> 
        <mat-form-field class="searchField">
            <mat-placeholder>
                <mat-icon>subject</mat-icon>
                <b> Search</b>
            </mat-placeholder>
            <input matInput [formControl]="searchInput" (keyup.enter)="applySearch()" class="searchInput">
        </mat-form-field>
        <mat-progress-spinner *ngIf="isLoading" diameter="35" mode="indeterminate" strokeWidth="6"></mat-progress-spinner>    
        <mat-paginator [length]="pagedExerciseTemplates?.total" [pageSizeOptions]="[5, 10, 25, 50]" pageSize="5" [showFirstLastButtons]="true"></mat-paginator>            
   </div>
</div>

<div class="filterContainer">
    <div class="filter">
    <mat-accordion class="accordion">
        <mat-expansion-panel [(expanded)]="panelOpenState">

            <mat-expansion-panel-header>
                <mat-panel-title>Search Filters</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="filterForm">
                <mat-form-field>
                  <input matInput type="text" placeholder="Name" formControlName="name" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="Comments" formControlName="comments" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Primary Muscle" formControlName="primaryMuscle" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Secondary Muscle" formControlName="secondaryMuscle" (keyup.enter)="filterExerciseTemplates();"  />
                </mat-form-field>
            </form>

        </mat-expansion-panel>
    </mat-accordion>
    </div>
</div>

<mat-table #table [dataSource]="pagedExerciseTemplates?.items" matSort matSortActive="name" matSortDirection="asc">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Exercise Name </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate"> {{exercisetemplate.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comments">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Comments </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate"> {{exercisetemplate.comments}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tempo">
        <mat-header-cell *matHeaderCellDef> Tempo </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate"> {{exercisetemplate.tempo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="primaryMuscle">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Primary Muscle </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate"> {{exercisetemplate.primaryMuscle}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="secondaryMuscle">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Secondary Muscle </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate"> {{exercisetemplate.secondaryMuscle}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button class="refresh" (click)="AddExerciseTemplate()" matTooltip="Add Exercise Template" [matTooltipShowDelay]="1000">
                <i class="fas fa-plus-circle"></i>
            </button> 
            <button class="refresh" (click)="refresh()" matTooltip="Refresh Table" [matTooltipShowDelay]="1000">
                <i class="fas fa-sync-alt"></i>
            </button> 
        </mat-header-cell>
        <mat-cell *matCellDef="let exercisetemplate">
            <button class="edit" (click)="editExerciseTemplateDialog(exercisetemplate.id)" matTooltip="Edit Exercise Template" [matTooltipShowDelay]="1000">
                <i class="far fa-edit"></i>
            </button> 
            <button class="delete" (click)="deleteExerciseTemplateDialog(exercisetemplate.id)" matTooltip="Delete  Exercise Template" [matTooltipShowDelay]="1000">
                <i class="far fa-trash-alt"></i>
            </button> 
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>