<div *ngIf="!fadeIt" class="container" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-spinner  mode="indeterminate"></mat-progress-spinner>
</div>


<div [ngClass] ="{'fade': fadeIt,'container':true}"  fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">

    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="end center" >            

            <div id="imgWrapper">
                <img src="../../assets/couple_shapes.png" (load)="fade()" alt="couple_shape" class="img">
            </div>

            <div class="buttons" layout="row" layout-align="end center">
                <button routerLink="/Gallery" mat-flat-button class="mat-elevation-z8">
                    Gallery
                </button>
                <button routerLink="/Schedule" mat-flat-button class="mat-elevation-z8">
                    Schedule
                </button>
                <button routerLink="/OurTeam" mat-flat-button class="mat-elevation-z8">
                    Our Team
                </button>
            </div>

        </div>
        
    </div>

    <div class="swing"></div>

    <div fxLayoutAlign="center center" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">  
        
        <div class="texts">            
            <svg id="gravity" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 316.72 35.35">               
                <path class="cls-1" d="M67,146.14v17H64.38l-1.84-4.49a9.69,9.69,0,0,1-9,5q-6.82,0-10.17-5.18a21.5,21.5,0,0,1-3.36-12,19.75,19.75,0,0,1,3.75-12.2,12.35,12.35,0,0,1,10.48-5,11.9,11.9,0,0,1,8.28,2.92,12.83,12.83,0,0,1,4.1,7.26l-5.22.93q-1.47-6.1-7-6.11a7,7,0,0,0-5.77,2.89q-2.23,2.88-2.24,8.86,0,12.61,7.91,12.62a6.73,6.73,0,0,0,5.09-2.12,7.81,7.81,0,0,0,2-5.62H54.51v-4.83Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M102.32,163.18H96l-5.18-13.7H82.35v13.7h-6V129.85H90.8q6,0,8.86,2.72a9.36,9.36,0,0,1,2.84,7.05,8.83,8.83,0,0,1-6,8.84Zm-20-18.51h7.47a7.23,7.23,0,0,0,4.84-1.37,4.69,4.69,0,0,0,1.59-3.76A4.5,4.5,0,0,0,94.68,136a6.47,6.47,0,0,0-4.37-1.35h-8Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M137.12,163.18H130.7L128,155.24H115.22l-2.61,7.94h-5.12l11.05-33.33h7.4Zm-10.69-12.75-4.86-14.86-4.86,14.86Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M154.54,163.18h-6.1l-10.28-33.33h6.35l7.64,25.54L160,129.85h5Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M177.26,163.18h-6V129.85h6Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M198.73,163.18h-6.45V135h-8.86v-5.15h24.17V135h-8.86Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M229.25,163.18h-6.37V149.12l-11.35-19.27h7.27l7.91,13.75,7.57-13.75H240l-10.79,19.27Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M285.82,146.14v17h-2.67l-1.83-4.49a9.7,9.7,0,0,1-9,5q-6.81,0-10.16-5.18a21.5,21.5,0,0,1-3.36-12,19.75,19.75,0,0,1,3.75-12.2,12.35,12.35,0,0,1,10.48-5,11.9,11.9,0,0,1,8.28,2.92,12.83,12.83,0,0,1,4.1,7.26l-5.22.93q-1.47-6.1-7-6.11a7,7,0,0,0-5.77,2.89q-2.23,2.88-2.24,8.86,0,12.61,7.91,12.62a6.73,6.73,0,0,0,5.09-2.12,7.85,7.85,0,0,0,2-5.62h-6.89v-4.83Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M306.77,163.18H300.4V149.12l-11.35-19.27h7.27l7.91,13.75,7.57-13.75h5.76l-10.79,19.27Z" transform="translate(-39.51 -128.84)"/>
                <path class="cls-1" d="M355.73,163.18H349.6V134l-9.22,29.18h-3.15L328,134v29.18H323V129.85h9.4l7,21.46,6.86-21.46h9.45Z" transform="translate(-39.51 -128.84)"/>
            </svg>    
            <!-- <H2>Where The Force Meets The Goals!</H2> -->
            <H2>
                <span *ngFor="let letter of slogan; let index = index" [ngClass] ="{'letter': applyGlow[index] }">{{letter}}</span>
            </H2>
        </div>
        
    </div>

</div>

